﻿body
{
    background-color: #F2F2F2;
    color: #666666;
    font-family: verdana;
    font-size: 14px;
}

#wrapper
{
     margin: 0 auto;
     width:500px;
     margin-top:10%;
}

#header
{
    font-size: 22px;
    font-weight: bold;
    text-align:center;
}

.title
{
      color: #21759B;
      font-weight: bold;
      padding-bottom:3px;
}

.block {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding:20px;
}

.textbox
{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #E3E3E3;
    outline: medium none;
    padding: 9px 2px;
    width: 450px;
}

.textboxSmall
{
    width: 210px !important;
}

.button
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding:6px 18px;
    cursor:pointer;
    font-size:13px;
    color:#333;
    background: -moz-linear-gradient(-90deg, #FFFFFF, #E1E1E1) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#E1E1E1)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#E1E1E1',GradientType=0 ); /* ie */
    border: 1px solid #CCCCCC;
    text-shadow: 0 1px 0px #fff;
    text-decoration:none;
}

.button:hover 
{
     border: 1px solid #999999;
     color:#333;
}

table
{
    border:0px; 
    border-collapse:collapse; 
}

table td
{
    padding:0px; 
}


input[type="checkbox"]
{
      padding:0px; 
      margin:0;
}

.validation-message
{
    color: #FF0000;
}


.field-validation-error
{
    display: block;
    margin: 7px 0 0 0;
    color: #FF0000;
    padding-bottom: 2px;
    padding-left: 16px;
    background: url("../../Images/Admin/unchecked.gif") no-repeat scroll 0 0;
    font-size:12px;
}

.input-validation-error
{
    background-color: #FFECEC;
}

#footer
{
    font-size: 12px;
    text-align:center;
}