﻿body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
#directoryContainer
{
    line-height: 18px;
    font-family: Verdana,sans-serif;
    font-size: 11px;
    width: 280px;
    overflow: auto;
}
.folderLink
{
    color: #333333;
    padding: 0 2px;
    display: block;
}
.folderLink:hover {    background: #f0f0f0 }
ul
{
    padding: 0;
    margin: 0;
}
ul li
{
    list-style: none outside none;
    white-space: nowrap;
}
#directoryContainer li {    cursor: pointer }
.folderItem,
.fileItem
{
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 20px;
    white-space: nowrap;
}
.folderItem {    background: url("../Scripts/tree/images/directory.png") no-repeat scroll left top transparent }
.folderItemOpened {    background: url("../Scripts/tree/images/folder_open.png") no-repeat scroll left top transparent !important }
.fileItem {    background: url("../Scripts/tree/images/file.png") no-repeat scroll left top transparent }
.button
{
    -moz-border-radius: 3px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 7px 12px;
    cursor: pointer;
    font-size: 11px;
    color: #333;
    background: -moz-linear-gradient(-90deg, #FFFFFF, #E1E1E1) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#E1E1E1)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#E1E1E1',GradientType=0 ); /* ie */
    border: 1px solid #B2B2B2;
    text-decoration: none;
    font-weight: bold;
}
.button:hover
{
    border: 1px solid #999999;
    color: #333;
}
#refresh { }
#header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 29px;
    background: #287e32;
    color: #bedf8c;
    border-bottom: 1px solid #215B24;
    font-size: 12px;
    font-weight: bold;
    z-index:100001;
}
#header a
{
    text-decoration: none;
    color: #bedf8c !important;
}
#overlay
{
    background-color: #777;
    cursor: pointer;
    display: block;
    opacity: 0.7;
    height: 2000px;
    overflow: hidden;
    z-index: 1000000;
}
#loginContainer
{
    top: 30px;
    right: 0px;
    background: #FFF;
    box-shadow: 0 1px 5px #CCCCCC;
    z-index: 100000;
    position: absolute;
    padding: 5px;
    display: none;
}
#loginFieldsContainer
{
    padding: 10px;
}
.textbox
{
    border: 1px solid #B2B2B2;
    outline: medium none;
    padding: 5px 3px;
    font-size: 11px;
}
.watermark {    color: #808080 }
.notificationContainer
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
    border-bottom: solid 1px #3ba838;
    left: 0px;
    z-index: 101;
}
#notificationSuccessContainer 
{
    background: #94fd92;
}
#notificationErrorContainer 
{
    background: #e76565;
}
.notificationContent
{
    text-align: center;
    color: #921111;
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
}
#fileInfoContainer
{
    position: absolute;
    top: 0;
    left: 0;
    height: 65px;
    background: #f7f7f7;
    width: 100%;
    border-bottom: solid 1px #b3b3b3;
    left: 0px;
    box-shadow: 0 1px 5px #CCCCCC;
    z-index: 100;
}
#loader
{
    display: none;
    background: #fff1a8;
    padding: 7px 14px 9px 14px;
    position: absolute;
    top: 0;
    left: 47%;
    font-weight: bold;
}
#noFileContent
{
    padding: 30px;
    text-align: center;
    font-size: 40px;
    text-align: center;
    color: #363636;
}
#fileContent
{
    width: 700px;
    height: 300px;
    display: none;
}
#fileContentEditor
{
    width: 100%;
    height: 100%;
}
#mainContainer
{
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
}
#leftPanel
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 299px;
    height: 100%;
    overflow: hidden;
    border-right: solid 1px #b3b3b3;
}
#leftMenuNavigation
{
    position: absolute;
    top: 0;
    left: 0;
    height: 65px;
    background: #f7f7f7;
    width: 100%;
    border-bottom: solid 1px #b3b3b3;
    left: 0px;
    box-shadow: 0 1px 5px #CCCCCC;
    z-index: 100;
}
#leftMenuNavigationContent
{
    position: absolute;
    top: 25px;
    left: 20px;
}
#directoryContainer
{
    position: absolute;
    top: 66px;
    bottom: 0pt;
    left: 0px;
    overflow: auto;
    padding: 20px 0 0 20px;
}
#rightPanel
{
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
#fileInfoContentWrapper
{
    padding: 10px 25px;
    color: #333;
    position: relative;
}
#toggleDirectoryPanel
{
    position: absolute;
    top: 21px;
    left: 0px;
    cursor: pointer;
    z-index: 102;
}
#fileName
{
    font-size: 23px;
    font-weight: bold;
}
#fileContentWrapper
{
    position: absolute;
    top: 66px;
    bottom: 0;
    right: 0;
    overflow: hidden;
    left: 0;
}
#fileContentContainer
{
    z-index: 10;
    display: none;
}
#me
{
    position: absolute;
    bottom: 10px;
    padding: 5px 15px;
    color: #cccccc;
    z-index: 0;
    right: 10px;
    font-size: 10px;
}
#credentialInfo
{
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 20px;
}
#logo
{
    position: absolute;
    top: 7px;
    left: 20px;
}